/node_modules/
/target
/dist

src-tauri/target/
src-tauri/gen/
src-tauri/.cargo/config.toml

# IDE files
.vscode/
*.swp
*.swo

# Environment files
.env
.envrc

# build artifacts
/app-aligned.apk
/app-release-signed.apk
/app-release-signed.apk.idsig
/app-release.apk
